::-webkit-scrollbar {
  position: static;
  background-color: whitesmoke;
}
::-webkit-scrollbar-thumb {
  height: 100px;
  background-color: #7490df;
  border-radius: 50px;
}

#root {
  max-width: 100%;
  min-height: 100vh;
  margin: 0;
}

p,
li {
  font-family: "Patrick";
}

h1,
h2 {
  font-family: "Vipna";
}

h3,
h4 {
  font-family: "Grotesk";
}

.grotesk {
  font-family: "Grotesk";
}

.heroSection {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url("/assets/images/layout/hero_bg.jpg");
  margin: 0;
  padding-top: 54px;
}

.swiper-wrapper {
  width: 100%;
}
header > p {
  display: flex;
  padding: 0;
  padding-top: 5px;
  padding-left: 15px;
  font-size: 24px;
  font-weight: 800;
  margin: 0;
  font-family: "Vipna", sans-serif;
}

nav > a {
  font-size: 18px;
  font-family: "Grotesk", sans-serif;
}

.carousel {
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  bottom: 0px;
  height: 30vh;
  width: 100%;
  box-shadow: 0px 2px 4px 1px rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  overflow-x: scroll;
  overflow-y: hidden;
}
.carousel::-webkit-scrollbar {
  position: static;
  background-color: black;
  height: 5px;
}
.carousel::-webkit-scrollbar-thumb {
  height: 10px;
  width: 20px;
  background-color: #7490df;
  border-radius: 50px;
}

.carousel figure {
  margin-left: 5px;
}

.carousel figcaption {
  font-family: "Patrick";
}

.carousel img:hover,
.carousel img:active {
  -webkit-filter: drop-shadow(2px 2px 10px #ad79ec);
  filter: drop-shadow(2px 2px 10px #ad79ec);
}

.content p {
  margin: 10px 0px;
  font-size: 18px;
}
.content h1 {
  font-size: 36px;
  font-family: "Vipna", serif;
  margin-bottom: 10px;
}
.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 5;
}

.planet {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #4e2a9b;
  background: linear-gradient(
    311deg,
    rgba(78, 42, 155, 1) 0%,
    rgba(217, 153, 50, 1) 73%
  );
  width: 100%;
}

.planet p {
  color: white;
}
.fact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section {
  width: 90%;
}

.planet_profile {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.planet_profile h1 {
  font-family: "Vipna", serif;
  font-weight: 800;
  font-size: 36px;
  color: white;
  margin-bottom: 20px;
}
.planet_profile img {
  width: 100%;
  margin-bottom: 10px;
}

section h1 {
  font-size: large;
}

.info {
  flex-wrap: wrap;
}
.planet {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px;
}
.belt {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #d99932;
  background: radial-gradient(
    circle,
    rgba(217, 153, 50, 1) 20%,
    rgba(78, 42, 155, 1) 95%
  );
  padding: 10px;
}
.belt p {
  color: white;
}
.return {
  width: 100%;
  margin: 0;
  height: 100%;
}
.return li {
  list-style-type: circle;
}
.astronaut {
  animation: float 3s infinite;
  transition: ease-in;
  z-index: -0.9;
}
.mercury,
.venus,
.mars,
.jupiter,
.saturn,
.uranus,
.neptune,
.pluto {
  animation: float 4s infinite;
  transition: ease-in;
}
.venus {
  animation-duration: 6s;
}
.mars {
  animation-duration: 5.5s;
}
.jupiter {
  animation-duration: 5s;
}
.saturn {
  animation-duration: 4.5s;
}
.uranus {
  animation-duration: 4s;
}
.neptune {
  animation-duration: 3.5s;
}
.pluto {
  animation-duration: 3s;
}
section.visor {
  background-color: rgba(173, 121, 236, 0.2);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  color: white;
  border-radius: 50px;
}
section.visor p {
  width: auto;
  font-family: "IBM", monospace;
}
section.visor span {
  text-align: center;
}
section.visor h2 {
  font-size: 0.8rem;
}

.alien-popup div {
  background-color: rgba(173, 121, 236, 1);
  box-shadow: 2px 2px 20px #ad79ec;
}

.alien-popup h2 {
  font-family: "IBM", monospace;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(1rem);
  }
  100% {
    transform: translateY(0px);
  }
}

@media (min-width: 1024px) {
  section {
    text-align: center;
  }
  .planet_profile img {
    width: 60%;
    margin-bottom: 10px;
  }

  .planet_profile h1 {
    font-size: 36px;
  }

  .belt p {
    color: white;
    font-size: 20px;
  }

  section.visor p {
    width: auto;
  }
  section.visor h2 {
    font-size: 1.2rem;
    font-family: "Vipna";
  }

  .carousel {
    overflow: hidden;
  }
  .carousel figure {
    margin-left: 0px;
  }

  .carousel figcaption {
    opacity: 0;
    font-family: sans-serif;
    transition: opacity 0.3s ease;
  }

  .carousel figure:hover figcaption,
  .carousel figure:active figcaption {
    opacity: 1;
    font-family: "Patrick";
  }
}
