



#root {
  max-width: 100%;
  margin: 0 ;
  text-align: center;
}

.planet{
  background-image:url("./assets/Layout/planet_bg.webp")  ;
  width: 100%;
  
}
.planet p{
  color:white;
}


.fact, section{
  width: 90vh
}

.fact img{
  width: 100%;
}
.fact p{
  width: 100%
}
section p{
  width: 100%
}
section h1{
  color: white;
  font-size: large;
}
section img{
  width: 80%;
}
.planet{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

